*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build

# Android SDK (installed locally)
/build-tools/
/platform-tools/
/platforms/
/licenses/
/emulator/
/sources/
/tools/
